URxvt*scrollBar: false
URxvt*font: xft:Source Code Pro Medium:pixelsize=16:antialias=true:hinting=true,xft:Source Code Pro Medium:pixelsize=16:antialias=true:hinting=true, xft:Font Awesome:pixelsize=18:fontwidth=18
